@use "../utils/variables";
@use "../utils/mixins";

.contact {
  padding: 4.125rem 1rem;
  background-color: variables.$peach;
  color: variables.$white;
  border-radius: 15px;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  bottom: -185px;

  &__heading-cta-container {
    @media (min-width: variables.$lg-breakPt) {
      text-align: left;
    }
  }

  &__heading {
    margin-top: 0;
    font-size: 1.9rem;
    font-weight: 500;
    padding-left: 2rem;
    padding-right: 2rem;

    @media (min-width: variables.$md-breakPt) {
      font-size: 2.5rem;
      max-width: 340px;
      margin: 0 auto;
    }

    @media (min-width: variables.$lg-breakPt) {
      margin: 0;
      padding-left: 0;
    }
  }

  &__cta {
    line-height: 1.5;
    font-size: 15px;

    @media (min-width: variables.$md-breakPt) {
      max-width: 400px;
      margin: 1.5rem auto;
      font-size: 16px;
    }
  }

  &__btn {
    @include mixins.button;
    background-color: variables.$white;
    margin-top: 1rem;
  }

  &__container--inner {
    @media (min-width: variables.$md-breakPt) {
      max-width: 400px;
      margin: 0 auto;
    }

    @media (min-width: variables.$lg-breakPt) {
      display: flex;
      max-width: 1300px;
      justify-content: space-between;
      padding: 0 6rem;
      align-items: center;
    }
  }
}
