@use "../utils/variables";

.footer {
  background-color: variables.$black;
  color: variables.$white;
  padding-top: 15.9rem;
  padding-bottom: 2rem;

  &__logo {
    width: 30%;
    height: 50%;
    margin: 1.5rem auto;
    @media (min-width: variables.$md-breakPt) {
      margin: 0;
    }
  }

  &__logo-links {
    text-align: center;

    hr {
      margin: 0 25px;
      border: 0;
      height: 0;
      border-top: 0.5px solid rgba(151, 151, 151, 0.1);
      border-bottom: 0.5px solid rgba(151, 151, 151, 0.1);
    }
  }

  &__link {
    list-style: none;
    text-transform: uppercase;
    margin-top: 1.7rem;
    font-size: 14px;
    letter-spacing: 2px;

    @media (min-width: variables.$md-breakPt) {
      margin-top: 0;
    }
  }

  &__link-container--mobile {
    @media (min-width: variables.$md-breakPt) {
      display: none;
    }
  }

  &__link-container--desktop {
    @media (max-width: variables.$md-breakPt) {
      display: none;
    }

    @media (min-width: variables.$md-breakPt) {
      display: flex;
      li {
        margin-left: 1rem;
      }
    }
  }

  &__logo-links--desktop {
    @media (min-width: variables.$md-breakPt) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 3rem;
    }
  }

  &__contact-info-container {
    text-align: center;
    color: variables.$grey-text;
    margin-top: 2.5rem;
    letter-spacing: 0.6px;

    @media (min-width: variables.$md-breakPt) {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      margin-bottom: 3rem;
    }
  }

  &__address {
    font-style: normal;
    line-height: 1.5;

    div:first-child {
      font-weight: 600;
    }
  }

  &__contact-us {
    margin-top: 3rem;
    line-height: 1.5;
  }

  &__contact-us-office {
    font-weight: 600;
  }

  &__social {
    margin-top: 2.5rem;
    display: flex;
    justify-content: space-between;
    max-width: 200px;
    margin: 2rem auto;

    @media (min-width: variables.$md-breakPt) {
      margin: 0;
      img {
        margin-left: 0.8rem;
      }
    }
  }
}
