@use "../utils/variables";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 28px;

  &__logo-img {
    max-width: 200px;
  }

  &__burger {
    @media (min-width: variables.$md-breakPt) {
      display: none;
    }
  }

  &__burger-line:first-of-type {
    margin-top: 0;
  }

  &__burger-line {
    width: 23px;
    height: 4px;
    background-color: variables.$black;
    margin: 4px 0;
  }

  &__nav-links {
    list-style: none;
    display: flex;
    li {
      margin-left: 2rem;
      text-transform: uppercase;
      letter-spacing: 1.5px;
    }
  }
}
