@use "../utils/variables";
@use "../utils/mixins";

.hero__container {
  @media (min-width: variables.$md-breakPt) {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 45px;
  }
  @media (min-width: variables.$lg-breakPt) {
    padding: 0 65px;
    margin-bottom: 8rem;
  }
}

.hero {
  @media (min-width: variables.$md-breakPt) {
    border-radius: 15px;
    height: 845px;
  }

  @media (min-width: variables.$lg-breakPt) {
    padding-bottom: 4rem;
    height: 640px;
  }

  background-color: variables.$peach;
  color: variables.$white;
  text-align: center;
  padding-top: 50px;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;

  &__info-container {
    max-width: 490px;
    margin: 0 auto;

    @media (min-width: variables.$lg-breakPt) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      max-width: 900px;
      margin: 0 auto;
    }
  }

  &__info {
    text-align: center;

    @media (min-width: variables.$lg-breakPt) {
      width: 500px;
      text-align: left;
      transform: translateY(8%);
    }
  }

  &__heading {
    font-weight: 500;
    @media (min-width: variables.$md-breakPt) {
      font-size: 3rem;
    }

    @media (min-width: variables.$lg-breakPt) {
      max-width: 600px;
    }
  }

  &__description {
    line-height: 1.5;
    font-size: 15px;
    max-width: 410px;
    margin: 0 auto;

    @media (min-width: variables.$lg-breakPt) {
      margin: 0;
    }
  }

  &__button {
    margin-top: 1rem;
    @include mixins.button;
    z-index: 5;

    @media (min-width: variables.$lg-breakPt) {
      margin-top: 3rem;
    }
  }

  &__img-container {
    height: 480px;
    text-align: center;

    @media (min-width: variables.$lg-breakPt) {
      flex-basis: 30%;
      max-width: 30%;
    }
  }

  &__img {
    height: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -5%);

    @media (min-width: variables.$lg-breakPt) {
      position: static;
      right: -29%;
      transform: translate(-24%, -6%);
    }
  }
}
