@use "../utils/variables";

.services {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__img-container {
    position: relative;

    img {
      margin-top: 1rem;
      border-radius: 15px;
      display: block;
      width: 100%;
      height: auto;

      @media (min-width: variables.$lg-breakPt) {
        display: none;
      }
    }
  }

  &__img-container--desktop {
    @media (min-width: variables.$lg-breakPt) {
      position: relative;
      img {
        border-radius: 15px;
        width: 100%;
        height: 100%;
      }
    }
  }

  &__img-container--right {
    margin-left: 1rem;
    row-gap: 200px;
  }

  &__desktop-container {
    @media (max-width: variables.$lg-breakPt) {
      display: none;
    }

    @media (min-width: variables.$lg-breakPt) {
      display: flex;

      img {
        width: 100%;
        border-radius: 15px;
      }

      .img-container--right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50%;
      }
    }
  }

  &__container--desktop {
    @media (min-width: variables.$lg-breakPt) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__container--web-desktop {
    display: flex;
    width: 50%;
  }

  &__img-overlay-container {
    margin-top: 1rem;
    border-radius: 15px;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    color: variables.$white;
    text-align: center;

    @media (min-width: variables.$lg-breakPt) {
      display: none;
    }
  }

  &__img-overlay-container--desktop {
    @media (min-width: variables.$lg-breakPt) {
      border-radius: 15px;
      position: absolute;
      bottom: 0;
      left: 0;
      top: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.5);
      width: 100%;
      color: variables.$white;
      text-align: center;

      &:hover {
        background: rgba(231, 129, 107, 0.8);
        transition: all 0.3s;
      }
    }
  }

  &__img-container--design {
    margin-right: 2rem;
  }

  &__container--design {
    @media (max-width: variables.$lg-breakPt) {
      display: none;
    }

    margin-top: 3.5rem;
  }

  &__img-overlay--sm {
    bottom: 0;
  }

  &__overlay-title {
    font-weight: 500;
    margin-top: 0;
    font-size: 1.5rem;
    letter-spacing: 1.4px;

    @media (min-width: variables.$md-breakPt) {
      font-size: 2.5rem;
    }
  }

  &__overlay-link {
    font-size: 15px;
    letter-spacing: 3px;

    font-size: 16px;

    span {
      color: variables.$peach;
      font-weight: 600;
      position: relative;
      top: -2.2px;
      right: -5px;
      font-size: 13px;
    }
  }

  &__img-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    width: 100%;
  }
}
