@use "../utils/variables";
@use "../utils/mixins";

.hero--about {
  @include mixins.orangeHero;
  background-position: top left;

  @media (min-width: variables.$md-breakPt) {
    border-radius: 0 0 15px 15px;
  }

  @media (min-width: variables.$lg-breakPt) {
    border-radius: 15px 0 0 15px;
  }

  h1 {
    font-weight: 500;
    @media (min-width: variables.$md-breakPt) {
      font-size: 3rem;
    }
  }

  p {
    line-height: 1.5;
    @media (min-width: variables.$md-breakPt) {
      max-width: 570px;
      margin: 0 auto;
    }
  }
}

.about__hero-img,
.talent-img,
.real-deal-img {
  display: block;
  margin: 0;
  width: 100%;
  height: auto;
}

.about {
  &__text-container--talent,
  &__text-container--real-deal {
    @include mixins.fadedPeachBG;

    h2 {
      @include mixins.peachTitle;
      @media (min-width: variables.$md-breakPt) {
        font-size: 2.5rem;
      }

      @media (min-width: variables.$lg-breakPt) {
        margin-left: 3rem;
      }
    }

    p {
      font-size: 15px;
      line-height: 1.5;

      @media (min-width: variables.$md-breakPt) {
        max-width: 510px;
        margin: 1rem auto;
      }

      @media (min-width: variables.$lg-breakPt) {
        margin-left: 3rem;
      }
    }
    @media (min-width: variables.$md-breakPt) {
      border-radius: 0 0 15px 15px;
    }

    @media (min-width: variables.$lg-breakPt) {
      width: 60%;
      text-align: left;
    }
  }

  &__text-container--talent {
    @media (min-width: variables.$lg-breakPt) {
      border-radius: 0 15px 15px 0;
    }
  }

  &__text-container--real-deal {
    @media (min-width: variables.$lg-breakPt) {
      border-radius: 15px 0 0 15px;
    }
  }

  &__talent-container,
  &__real-deal-container {
    @media (min-width: variables.$md-breakPt) {
      max-width: 1300px;
      margin: 0 auto;
      padding: 0 45px;
    }

    @media (min-width: variables.$lg-breakPt) {
      display: flex;
      padding: 0 65px;
    }

    img {
      @media (min-width: variables.$md-breakPt) {
        max-height: 350px;
        object-fit: cover;
        border-radius: 15px 15px 0 0;
      }

      @media (min-width: variables.$lg-breakPt) {
        width: 40%;
        max-height: 420px;
        border-radius: 15px 0 0 15px;
      }
    }
  }

  &__real-deal-container {
    @media (min-width: variables.$lg-breakPt) {
      flex-direction: row-reverse;

      img {
        border-radius: 0 15px 15px 0;
      }
    }
  }
}

.img-hero__container {
  @media (min-width: variables.$md-breakPt) {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 45px;
    margin-bottom: 6rem;
  }
  @media (min-width: variables.$lg-breakPt) {
    padding: 0 65px;
  }
  img {
    @media (min-width: variables.$md-breakPt) {
      max-height: 350px;
      object-fit: cover;
      border-radius: 15px 15px 0 0;
    }

    @media (min-width: variables.$lg-breakPt) {
      max-height: 550px;
      border-radius: 0 15px 15px 0;
    }
  }

  @media (min-width: variables.$lg-breakPt) {
    display: flex;
    flex-direction: row-reverse;
    img {
      width: 40%;
      object-fit: cover;
    }
  }
  .hero__container--about {
    width: 100%;
    text-align: 6.5;

    .hero--about {
      @media (min-width: variables.$lg-breakPt) {
        text-align: left;
        padding: 4rem;
        height: 400px;

        h1 {
          margin-left: 3rem;
        }
        p {
          max-width: 450px;
          margin-left: 3rem;
        }
      }
    }
  }
}
