@use "../utils/variables";
@use "../utils/mixins";

.contact-us {
  &__bg {
    @media (min-width: variables.$md-breakPt) {
      max-width: 1350px;
      margin: 0 auto;
      padding: 0 35px;
    }
  }
  &__container {
    @include mixins.orangeHero;
    background-size: cover;
    background-position: top;

    h2 {
      font-weight: 500;
      font-size: 2rem;

      @media (min-width: variables.$md-breakPt) {
        font-size: 3rem;
      }
    }

    p {
      line-height: 1.5;
    }

    form {
      input,
      textarea {
        outline: none;
        display: block;
        width: 100%;
        padding: 14px 12px;
        border: none;
        border-bottom: 1.1px solid variables.$white;
        background: transparent;
        margin-bottom: 10px;
      }

      button {
        @include mixins.button;
        background-color: variables.$white;
        font-weight: 500;
        letter-spacing: 1px;
        padding: 18px 45px;
        margin-top: 2rem;
        float: right;
      }
    }

    @media (min-width: variables.$md-breakPt) {
      border-radius: 15px;
      padding-bottom: 10rem;
    }
  }

  &__container--inner {
    @media (min-width: variables.$md-breakPt) {
      max-width: 580px;
      margin: 0 auto;
      text-align: left;
    }
  }

  &__footer {
    padding-top: 4rem;
  }
}

::placeholder {
  font-size: 15px;
  color: variables.$placeholder-text;
  opacity: 1;
}
