@use "../utils/variables";
@use "../utils/mixins";

.hero--design {
  @include mixins.orangeHero;

  h1 {
    font-weight: 500;
  }

  p {
    font-size: 15px;
    line-height: 1.5;
  }
}

.design {
  margin-top: 5rem;
  &__card-container {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
    img {
      max-width: 100%;
      height: auto;
      margin: 0;
      border-radius: 15px 15px 0 0;
    }
  }

  &__card-info {
    margin-top: 0;
    background-color: variables.$faded-peach;
    border-radius: 0 0 15px 15px;
    padding: 1.5rem 1rem;
    text-align: center;
    h3 {
      text-transform: uppercase;
      color: variables.$peach;
      font-weight: 500;
      letter-spacing: 5px;
    }
    p {
      line-height: 1.5;
    }
  }
}
