@use "../utils/variables";
@use "../utils/mixins";

.locations {
  &__container {
    margin-bottom: 3rem;
    img {
      display: block;
    }
  }
  &__address-container {
    @include mixins.fadedPeachBG;
    font-size: 15px;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.5px;
  }

  &__title {
    @include mixins.peachTitle;
  }

  &__address {
    font-style: normal;
    div:first-child {
      font-weight: 600;
    }
  }

  &__contact-us {
    margin-top: 1.5rem;
  }

  &__contact {
    font-weight: 600;
  }
}
