@use "../utils/variables";

@mixin button {
  border: none;
  padding: 18px 25px;
  border-radius: 8px;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    color: variables.$white;
    background-color: variables.$light-peach;
    transition: all 0.3s;
  }
}

@mixin orangeHero {
  background-color: variables.$peach;
  color: variables.$white;
  text-align: center;
  padding: 4.5rem 1rem;
  background-position: bottom right;
}

@mixin fadedPeachBG {
  background-color: variables.$faded-peach;
  text-align: center;
  padding: 3rem 1rem;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin peachTitle {
  color: variables.$peach;
  font-weight: 500;
  font-size: 2rem;
}
