@use "../utils/variables";

@mixin button {
  background-color: variables.$white;
  border: none;
  padding: 18px 25px;
  border-radius: 8px;
  text-transform: uppercase;
}

@mixin orangeHero {
  background-color: variables.$peach;
  color: variables.$white;
  text-align: center;
  padding: 4.5rem 1rem;
  background-position: bottom right;
}
