$main-font: "jost";

// Colors
$peach: #e7816b;
$light-peach: #ffad9b;
$dark-grey: #333136;
$faded-peach: #fdf3f0;
$light-grey: #f1f3f5;
$black: #1d1c1e;
$white: #ffffff;
$grey-text: #8d8d8e;
$placeholder-text: #f3bfb5;

// Responsive sizes
$md-breakPt: 768px;
$lg-breakPt: 1025px;
$xl-breakPt: 1200px;
