$main-font: "jost";

// Colors
$peach: #e7816b;
$light-peach: #ffad9b;
$dark-grey: #333136;
$faded-peach: #fdf3f0;
$light-grey: #f1f3f5;
$black: #1d1c1e;
$white: #ffffff;
$grey-text: #8d8d8e;
$placeholder-text: #f3bfb5;

// Responsive sizes
$xs-breakPt: 380px;
$sm-breakPt: 450px;
$md-breakPt: 768px;
$lg-breakPt: 990px;
$xl-breakPt: 1200px;
$xxl-breakPt: 1500px;
