@use "../utils/variables";
@use "../utils/mixins";
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap");

html {
  font-family: variables.$main-font;
  height: 100%;
}

// Center container
.center {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 25px;
}
