@use "../utils/variables";
@use "../utils/mixins";
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap");

html {
  font-family: variables.$main-font;
  height: 100%;
  @media (min-width: variables.$lg-breakPt) {
    overflow-x: hidden;
  }
}

body {
  @media (min-width: variables.$lg-breakPt) {
    overflow-x: hidden;
  }
}

// Center container
.center {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 25px;

  @media (min-width: variables.$md-breakPt) {
    padding: 0 45px;
  }

  @media (min-width: variables.$lg-breakPt) {
    padding: 0 65px;
  }
}

// Styling for the locations' icons and buttons
.location {
  margin-top: 6rem;
  text-align: center;
  margin-bottom: 6rem;

  @media (min-width: variables.$lg-breakPt) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__img-container {
    position: relative;

    img:first-child {
      position: absolute;
    }
  }

  &__item {
    margin-top: 4rem;
    button {
      @include mixins.button;
      background-color: variables.$peach;
      color: variables.$white;
    }
    h3 {
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 5px;
    }
  }
}
